amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
cffi==1.17.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==44.0.2
Django==5.1.6
holidays==0.69
kombu==5.5.1
mysqlclient==2.2.7
numpy==2.2.4
opencv-python==4.11.0.86
packaging==24.2
pillow==11.1.0
prompt_toolkit==3.0.50
psycopg==3.2.6
psycopg2==2.9.10
pycparser==2.22
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
redis==5.2.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
vine==5.1.0
wcwidth==0.2.13